body{
    background-color: #333;
}
#road{
    background-color: brown;
    height: 10px;
    width: 500px;
    margin-top: 600px;
}
#boby{
    height: 20px;
    width: 100px;
    background-color: orangered;
    padding-top: 80px;
    transform: translateY(-132px);
    animation: move 3s;
}
#boby>.legs{
    width: 20px;
    height: 20px;
    margin-left: 40px;
}
#boby>.legs>div{
    width: 10px;
    height: 50px;
    background-color: orange;
    float: left;
    border-bottom: 5px solid orangered;
}
#boby>.legs>div:first-child{
    transform: rotate(15deg);
    animation: run 0.25s 10;
    
}
#boby>.legs>div:last-child{
    transform: rotate(-15deg);
    animation: run 0.25s 10;
    animation-delay: 0.125s;
}
@keyframes run{
    from{ transform: rotate(-15deg); }
    to{ transform: rotate(15deg); }
}
@keyframes move{
    from {margin-left: 0;}
    to {margin-left: 600px;}
}
#boby-wrapper{
    border: 1px dotted green;
    animation: tilt 0.25s 10;
}
@keyframes tilt{
    from{ transform: rotate(-3deg); }
    to{ transform: rotate(3deg); }
}