#box{
    height: 40vh;
    width: 40vh;
    background-color: gray;
    border-radius: 20vh;
    position: absolute;
    top: 30vh;
    left: 33vw;
    margin-left: -20vh;
}
#play-btn{
    height: 30vh;
    width: 30vh;
    background-color: dimgrey;
    border-radius: 15vh;
    position: absolute;
    top: 5vh;
    left: 5vh;
    z-index: 1;
}
#film{
    height: 28vh;
    width: 150vw;
    background-color: darkslategray;
    position: absolute;
    top: 6vh;
    left: -33vw; 
}
#film img{
    height: 24vh;
    float: left;
    /* margin-right: 20px; */
    margin-top: 2vh;
    /* исправить баг с расстоянием */
}
#film .spacer{
    float: left;
    width: 20px;
    height: 1px;
}
#film .holes{
    height: 2vh;
    width: 150vw;
    background-color: darkslateblue;
    position: absolute;
    background-image: radial-gradient(red,black);
    background-size: 10px 10px;
}
#film .holes:last-child{
    bottom: 0;
}